html {
  box-sizing: border-box;
  font-family: 'Karla';
  font-size: 16px;
}

h4, h2, p {
  margin: 0;
}

body {
 padding: 20px;
}

*, *:before, *:after  {
  box-sizing: inherit;
}

#card {
  width: 600px;
  height: 400px;
  box-shadow: 2px 3px 7px 0px rgba(0,0,0,0.35);
  border-radius: 5px;
  overflow: hidden;
}

#top-section  {
  width: 100%;
  height: 45%;
  padding: 25px;
}

#top-section h2  {
  color: #2ab2af;
  margin-bottom: 20px;  

}

#top-section h4 {
  color: #c0df34;
  margin-bottom: 10px;  

}

#top-section p  {
  color: #98a6bd;
  margin-bottom: 10px;  

}

#btm-section {
  width: 100%;
  height: 55%;
  color: white;
}

#btm-left-section, #btm-right-section {
  width: 50%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
}

#btm-left-section {
  background-color: #2ab2af;
  padding: 25px;
}

#btm-right-section  {
  background-color: #2EBFBD;
  padding: 20px;
}

#price  {
  font-weight: 700;
  font-size: 1.4rem;
}

button  {
  color: white;
  background-color: #c0df34;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

button:hover {
  cursor: pointer; 
  background-color: #a9c42d;
  transform: scale(1.02);
}

#btm-left-section h4 {
  margin-bottom: 20px;
}

#btm-left-section p {
  margin-bottom: 40px;
  font-size: .8rem;
}

#price-frequency, #price {
  display: inline-block;
  margin-bottom: 10px;
}

#price-frequency  {
  position: relative; /*per month text in middle of $29*/
  top: -3px;    /* per month text in middle of $29 */
  font-size: .8rem;
  opacity: .7;
  margin-left: 5px;
}

ul {
  list-style: none;
  padding: 0px;
  opacity: 0.8;
  font-size: 0.8rem;
}




